@import '../../variables.scss';

.profile-wrapper {
  font-family: $small-font;
  height: 90%;
  margin: 0;
  text-align: left;
  width: 100%;
}

.welcome-header {
  font: {
    family: $large-font;
    size: 4rem;
  }
  margin: {
    bottom: 2%;
    left: 5.5%;
    top: 0;
  }
  padding-top: 20px;
}

.welcome-header-1k {
  color: $text-color-large;
  font: {
    family: $large-font;
    size: 4rem;
  }
  margin: {
    bottom: 2%;
    left: 5.5%;
    top: 2%;
  }
}

.user-stats-wrapper {
  display: flex;
  height: 70%;
  justify-content: space-around;
  width: 100vw;
}

.user-career-stats {
  background-color: $secondary-accent-color;
  border-radius: 5px;
  color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 40px;
  text-align: center;
  width: 40%;
}

.user-career-stats-header {
  font: {
    family: $large-font;
    size: 2.5rem;
  }
  margin: 0;
  text-decoration: underline;
}

.indiv-stat-wrap {
  display: flex;
  font-size: 1.6rem;
  text-align: center;
  span {
    width: 50%;
  }
}

.user-status-wrapper {
  width: 40%;
}

.user-stat-type {
  font-weight: bold;
}

.user-stats-wrapper {
  text-align: center;
}

.user-status-header {
  font: {
    family: $large-font;
    size: 2.5rem;
  }
  margin: {
    bottom: 15%;
    top: 20px;
  }
}

.status-nums-wrap {
  font-size: 2rem;
  margin: {
    bottom: 15%;
    left: auto;
    right: auto;
    top: 10px;
  }
  width: 22%;
}

.feedback-text {
  font-size: 1.4rem;
}

.player-stats {
  margin: {
    left: auto;
    right: auto;
  }
  width: 40%;
}

.player-stats-header {
  font: {
    family: $large-font;
    size: 4rem;
  }
  margin: {
    bottom: 0;
    top: 0;
  }
}

.player-stat-wrapper-small {
  font-size: 1.5rem;
}

.player-stat-label {
  font-weight: bold;
  text-align: left;
  width: 50%;
}

.player-stat-num {
  text-align: right;
  width: 50%;
}
