@import '../../variables.scss';

.team-filter-wrapper {
  background: {
    attachment: fixed;
    color: $main-color;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  display: grid;
  font-family: $small-font;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  height: 90%;
  max-height: 90%;
  margin: 0;
  overflow-x: auto;
  text-align: center;
  width: 100%;
}

.team-logo {
  display: block;
  height: 200px;
  margin: {
    left: auto;
    right: auto;
  }
}

.team-btn {
  border: 1px outset rgb(60, 60, 60);
  cursor: pointer;
  font-size: 1.6rem;
  height: 90%;
  margin: {
    left: 20px;
    right: 20px;
  }
  padding-bottom: 20px;
  -webkit-box-shadow: 5px 5px 15px rgba(60, 60, 60, 0.5);
  -moz-box-shadow: 5px 5px 15px rgba(60, 60, 60, 0.5);
  &:active {
    background-color: $text-color-large;
    color: $main-color;
  }
}

.team-filter-header {
  color: $text-color-large;
  font: {
    family: $large-font;
    size: 6rem;
  }
  grid-area: 1 / 1 / 2 / 5;
  margin: 0;
}
