@import url('https://fonts.googleapis.com/css?family=Teko|Titillium+Web:400,700&display=swap');

$large-font: 'Teko', sans-serif;
$small-font: 'Titillium Web', sans-serif;

$main-color: #000000;
$text-color-large: #FFAA00;
$text-color: #FFFFFF;
$main-accent-color: #8394A1;
$secondary-accent-color: #D1D7DB;
$secondary-accent-color-transparent: rgba(82, 84, 86, 0.9);
